@charset "UTF-8";
/*　マテリアルスイーツ */
body{
    font-family: "Yu Gothic",YuGoothic,"MS　Pゴシック",Meiryo;
    font-size:100% ;
    background-color:#fcf5e6;
    background-image:url(../sozai/masume1.png);
    background-repeat: repeat;
    background-color:#fcf5e6;
    background-size: 100%;
    width: 100%;
}
/* リセットCSS */
h1,h2,h3,h4,p,ul,li{
    margin:0;
    padding:0;
}
/*　ヘッダーCSS　*/
header{
    width:100%;
    overflow:hidden;
}
#logo{
    display:block;
    width:25%;
    height:auto;
    
}
/*ボディー*/
body{
    width:100%
}
h1{
    text-align: center;
    font-size: 6vw;
}
h2{
    font-size: 3vw;
}
#title{
    text-align: center;
    margin-bottom: 8%;
}
p{
    font-size: 125%;
}
/*　ナビゲーション　CSS　*/
nav{
    width: 100%;
    margin-top:20px;
    margin-left: ;
}
nav ul{list-style-type:none;}
nav li{
    width: 20%;
    height:60px;
    float:left;
    font-size:100%;
    margin-bottom: 5px;
}
nav a{
    display:block;
    line-height:auto;
    text-align: center;
    color:darkred;
    text-decoration:none;
    background-image:url(#);
    font-size: 150%;
    font-weight: 600;
}
nav a:hover{
    color:crimson;
    font-weight: bold;
    background-image: url(#);
}
/*ころころ*/

/*メイン*/
main{
    overflow: hidden;
}
#content1{
    width: 100%;
    height: 80%;
    background-image: url(../sozai/mster_top.png);
    background-size: 120%;
    background-position: center;
    margin-top: -10%;
}
#title{
  padding-top: 12%;
}
/*メインパート*/
#daimei{
    padding-top: 5%;
    padding-bottom: 2%;
    background-image: url(../sozai/pazzle_toumei.png);
    background-position: center;
    background-size: 100%;
}
#matching{
    background-color: #fcf5e6;
}
#sabu{
    text-align: center;
    font-size: 150%;
    margin-bottom: 5%;
    background-color: #fcf5e6;
}
#try{
    padding-top: 5%;
    
}
#try_a{
    text-decoration-style: dashed;
    color: #7622A0;
}
#try_a:hover{
    color: #ffd168;
}
#oimochan{
    margin-top: -15%;
    width: 25%;
}
#satsu{
    margin-top: -15%;
    width: 25%;
    float: right;
}
