@charset "UTF-8";
div,#wrap{
    width: 100%;
    margin:0 auto;
}
/*　マテリアルスイーツ */
body{
    font-family: "Yu Gothic",YuGoothic,"MS　Pゴシック",Meiryo;
    font-size:100% ;
    background-color:#fcf5e6;
    background-image:url(../sozai/masume1.png);
    background-repeat: repeat;
    margin:10% auto;
    display: block;
}
/* リセットCSS */
h1,h2,h3,h4,p,ul,li{
    margin:0;
    padding:0;
}
/*　ヘッダーCSS　*/
header{
    
}
#top{
    
}
#topcontent{
 font-size: 250%;
}
#top_img{
    width: 100%;
    margin-top: -15%;
}
#daimei{
    font-size: 500%;
    color: #000000;
}
#logo{
    margin-top: -10%;
    display:block;
    width:25%;
    height:auto;
    
}
em{
    background: linear-gradient(transparent 20%, #ffe567 100%);
}
/*ヘッダーのナビゲーション*/

/*ボディー*/
body{
    width:100%;
    clear: both;
}
h1{
    text-align: center;
    font-size: 300%;    
}
h2{
    text-align: center;
    font-size: 250%;
}
h3{
    font-size: 150%;
    clear: both;
    display: block;
}
p{
    text-align: center;
    font-size: 150%;
}
/*　ナビゲーション　CSS　*/
nav{
    width: 100%;
    margin-top:20px;
    margin-left: ;
}
nav ul{list-style-type:none;}
nav li{
    width: 20%;
    height:60px;
    float:left;
    font-size:100%;
    margin-bottom: 5px;
}
nav a{
    display:block;
    line-height:auto;
    text-align: center;
    color:darkred;
    text-decoration:none;
    background-image:url(#);
    font-size: 150%;
    font-weight: 600;
}
nav a:hover{
    color:crimson;
    font-weight: bold;
    background-image: url(#);
}
/*ころころ*/
#korokoro{
    width:100%;
    margin-top: -10%;
    margin-bottom: -5%;
}
/*メイン*/
main{
    width:100%;
}
#question{
    clear: both;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(../sozai/marubatu_n.png);
    background-size: 50%;
    height: 50%;
    background-position: center;
    background-repeat: repeat-x;
}
#question_h1{
    padding-top: %;
}
#cho{
    width: 100%;
}

#choice{
    width: 100%;
    margin-top:20px;
    margin-left: ;
    align-content: center;
}
#choice ul{
    list-style-type:none;
}
#choice li{
    align-items: center;
    width: 50%;
    height:100px;
    float:left;
    font-size:100%;
    margin-bottom: 5px;
}
#choice a{
    display:block;
    line-height:auto;
    text-align: center;
    text-decoration: none;
    background-color: ;
    border-radius: 5px;
}
.sentaku{
    width: 50%;
}
#maru{
    width: 100%;
    background: url(../sozai/maru.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position:center;
}
#maru:hover{
    background-image: url(../sozai/maru_oimo.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
#batu{
    width: 100%;
    background: url(../sozai/batu.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}
#batu:hover{
    background-image: url(../sozai/batu_satu.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
}
#next{
    clear: both;
    margin-top: 30%;
}
#next a{
    border-bottom-style: dotted;
    border-bottom-width: thick;
    text-decoration: none;
    color: #434343;
}

#next a:hover{
    background: linear-gradient(transparent 0%, #ffe567 100%);
}
#next a:active{
    background: linear-gradient(transparent 0%, #ff7700 70%);
}
#next em{
    font-style: normal;
    background: linear-gradient(transparent 50%, #ffe567 100%);
}
@media screen and (min-width:1000px){
    div,#wrap{
        width: 1000px;
        font-size: 125%;
    }
