@charset "UTF-8";
/*　マテリアルスイーツ */
div,#wrap{
    width: 100%;
    margin:0 auto;
}
body{
    font-family: "Yu Gothic",YuGoothic,"MS　Pゴシック",Meiryo;
    font-size:;
    background-color:#fcf5e6;
    background-image:url(../sozai/masume1.png);
    background-repeat: repeat;
    background-color:#fcf5e6;
    background-size: 100%;
}
/* リセットCSS */
h1,h2,h3,h4,p,ul,li{
    margin:0;
    padding:0;
}
/*　ヘッダーCSS　*/
header{
    width:100%;
    overflow:hidden;
}
#logo{
    display:block;
    width:25%;
    height:auto;
    
}
/*ボディー*/
body{
    width:100%
}
h1{
    text-align: center;
    font-size: 300%;
    clear: both;
}
h2{
    font-size: 200%;
}
p{
    font-size: 125%;
}
/*　ナビゲーション　CSS　*/
nav{
    margin-top:20px;
}
nav ul{
    list-style-type:none;
}
nav li{
    width: 25%;
    height:60px;
    float:left;
    margin-bottom: 20px;
}
nav a{
    display:flex;
    line-height:auto;
    text-align: center;
    color:darkred;
    text-decoration:none;
    background-image:url(#);
    font-size: 180%;
    font-weight: 600;
    height: 90px;
    align-items: center;
    justify-content: center;
}
nav a:hover{
    color:crimson;
    font-weight: bold;
    background-image: url(#);
}
/*ころころ*/
#korokoro{
    width:100%;
    margin-top: -6%;
    margin-bottom: -5%;
}
/*メイン*/
main{
    width:100%;
}
#top{
    width:100%;
    height:auto;
}
#content1 p{
    text-align: center;    
}
#topic{clear:both;}
.T{
    padding-left: 5%;
    padding-right: 5%;
    width:40%;
    float:left
}
.more{
    padding-right: 5%;
    float: right;
}
.icon{
    width: 100%;
}
.icon:hover{
    background-image: url(../sozai/icon_zukan_hover.png);
    background-size: 100%;
}
@media screen and (min-width:1000px){
    div,#wrap{
        width: 1000px;
        font-size: 150%;
    }
}